@font-face {
  font-family: 'helvetica-neue-condensed-black';
  src: local('helvetica-neue-condensed-black'), url(../public/static/fonts/helvetica-neue-condensed-black.ttf) format('truetype');
}

@font-face {
  font-family: 'century-gothic';
  src: local('century-gothic'), url(../public/static/fonts/century-gothic/century-gothic-medium.TTF) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'century-gothic';
  src: local('century-gothic'), url(../public/static/fonts/century-gothic/century-gothic-bold.TTF) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'century-gothic';
  src: local('century-gothic'), url(../public/static/fonts/century-gothic/century-gothic-italic.TTF) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'century-gothic';
  src: local('century-gothic'), url(../public/static/fonts/century-gothic/century-gothic-bold-italic.TTF) format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
